/* body {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(0, 165, 223, 1) 100%);
} */

.App {
  margin: 0;
  padding: 0;
}

.landing {
  text-align: center;
  margin: 200px;

}

.onlyHeader {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.pansHeader {
  color: #00A5DF;
  font-family: 'Pacifico', cursive;

}

.homeP {
  font-family: 'Pacifico', cursive;
}

.btnLanding {
  font-family: 'Montserrat', sans-serif;
}

.btnLanding:hover {
  font-family: 'Pacifico', cursive;
  color: #00A5DF;
}